:root {
  --border-border-default: #8055ff;
  --input-font-default: #000;
  --input-border-default: #459df5;
  --input-border-error: #f53152;
  --input-background-color-lock: #bad8f5;
  --input-background-main: #e5e5e5;
}
