:root {
  --border-border-default: #8055ff;
  --input-font-default: #000;
  --input-border-default: #459df5;
  --input-border-error: #f53152;
  --input-background-color-lock: #bad8f5;
  --input-background-main: #e5e5e5;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--input-background-main);
  flex-wrap: wrap;
}

.wrapper__item {
  margin: 5.8rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  max-width: 35.4rem;
  max-height: 36rem;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--border-border-default);
  border-radius: 5px;
}

.input-item {
  display: flex;
  flex-direction: column;
}

.input-item__content:not(:last-child) {
  margin-bottom: 4.6rem;
}

.input-item__label {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--input-font-default);
  margin-bottom: 0.8rem;
}

.input-item__body {
  width: 100%;
  position: relative;
}

.input-item__input {
  width: 100%;
  max-height: 3.2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid var(--input-border-default);
  border-radius: 4px;
  padding: 0.8rem 3.2rem 0.8rem 0.8rem;
}
input::placeholder {
  color: var(--input-background-color-lock);
}
.input-item__button {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  top: 8px;
  right: 8px;
}

.input-item__input_incorrect {
  border: 1px solid var(--input-border-error);
}

.input-item__input_incorrect:focus-visible {
  border: 1px solid var(--input-border-error);
}

.input-item__input_disabled {
  background-color: var(--input-background-color-lock);
}

.input-item__input_disabled:disabled {
  color: var(--input-font-default);
}

.input-item__button_incorrect {
  stroke: var(--input-background-color-lock);
}

.input-item__icon {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 8px;
  right: 8px;
}

.input-item__icon_lock {
  stroke: var(--input-font-default);
  cursor: default;
}
