:root {
  --border-border-default: #8055ff;
  --input-font-default: #000;
  --input-border-default: #459df5;
  --input-border-error: #f53152;
  --input-background-color-lock: #bad8f5;
  --input-background-main: #e5e5e5;
}

.input-group__searchbar {
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  max-width: 35.2rem;
  max-height: 19.2rem;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--border-border-default);
  border-radius: 5px;
}

.input-item__content_searchbar:not(:last-child) {
  margin-bottom: 3.2rem;
}

.input-item__input_without-text {
  padding: 0.8rem 3.2rem 0.8rem 3.1rem;
}

.input-item__input_with-text {
  padding: 0.8rem 3.6rem 0.8rem 3.2rem;
}

input::placeholder {
  color: var(--input-background-color-lock);
}

.input-item__button {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.input-item__icon_search {
  height: 16px;
  width: 16px;
  top: 8px;
  left: 8px;
}

.input-item__button_clear {
  height: 16px;
  width: 16px;
  top: 8px;
  right: 8px;
}
.input-item__button_icon-clear {
  stroke: var(--input-background-color-lock);
}

.input-item__icon_icon-search {
  stroke: var(--input-border-default);
}

.input-item__icon {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  cursor: default;
}
