body,
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background: #FFFFFF;
  box-shadow: 0px 32px 128px rgba(0, 0, 0, 0.5),
    0px 16px 32px rgba(0, 0, 0, 0.34),
    0px 8px 8px rgba(0, 0, 0, 0.25);
}

.wrapper {
  margin: 0 auto;
  padding: 32px 48px 0px;
}

.main-content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #A8A8FF;
  max-height: 3.2rem;
}

.main-content__header {
  margin-bottom: 3.2rem;
}

.header__page-name {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #8055FF;
}

.filter {
  display: flex;
  border: #A8A8FF 2px solid;
  justify-content: space-between;
  padding: 0.8rem;
}

.main-content__filter {
  margin-bottom: 3.2rem;
}

.filter__elem {
  min-height: 3.2rem;
  background-color: #8055FF;
}

.filter__elem_lg {
  flex-basis: 25.6rem;
}

.filter__elem_sm {
  flex-basis: 3.2rem;
}

.filter__elem-group {
  display: flex;
  width: 100%;
  gap: 0.8rem;
}

.table {
  border: #8055FF 2px solid;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}

.table__header {
  flex: 0 0 4.8rem;
  background-color: #8055FF;
}


.table__body {
  background-color: #A8A8FF;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}


.table__footer {
  flex: 0 0 4.8rem;
  background-color: #8055FF;
}

.table__content {
  overflow-y: auto;
}